<div class="footer-wrapper">
  <footer class="footer fixed-width">
    <div class="logo">
      <a href="/" title="Wander Ahead"
        ><img
          src="/assets/img/logo.svg"
          width="294"
          height="50"
          alt="Wander Ahead Logo"
        /></a>
    </div>
    <div class="col">
      <h3>Top Articles</h3>
      <ul>
        <li><a href="/article/how-to-road-trip-floridas-famous-a1a/">A1A Florida Road Trip</a></li>
        <li><a href="/article/everything-to-see-do-and-eat-in-milledgeville-georgia/
">Visit Milledgeville, GA</a></li>
        <li><a href="/article/immersive-art-experiences-in-nyc-that-will-dazzle-you/">Immersive NYC Art</a></li>
        <li><a href="/article/must-see-attractions-in-outer-banks-this-summer/">Outer Banks Attractions</a></li>
        <li><a href="/article/flowers-food-festivals-in-york-county-sc/">Best of York County, SC</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Top Destinations</h3>
      <ul>
        <li><a href="/florida/">Florida</a></li>
        <li><a href="/georgia/">Georgia</a></li>
        <li><a href="/north-carolina/">North Carolina</a></li>
        <li><a href="/south-carolina/">South Carolina</a></li>
        <li><a href="/virginia/">Virginia</a></li>
      </ul>
    </div>
    <div class="copyright">
      <p>&copy; {{ "now" | date: "%Y" }} Wander Ahead. All rights reserved.</p>
    </div>
  </footer>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const links = document.getElementsByTagName("a");

    for (let link of links) {
      if (link.hostname && link.hostname !== window.location.hostname) {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener noreferrer");
      }
    }
  });
</script>
<!-- Cloudflare Web Analytics -->
<script
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "b8a7a772610b47d8ae782abd78fde74b"}'
></script>
<!-- End Cloudflare Web Analytics -->
