<footer class="footer">
  <div class="logo">
    <a href="#" title="Wander Ahead">Wander Ahead</a>
  </div>
  <div class="col">
    <h4>Title 1</h4>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
  <div class="col">
    <h4>Title 2</h4>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
  <div class="col">
    <h4>Title 3</h4>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
  <div class="copyright">
    <p>&copy; {{ "now" | date: "%Y" }} Wander Ahead. All rights reserved.</p>
  </div>
</footer>
