<footer class="footer fixed-width">
  {% comment %}
  <div class="logo">
    <a href="/" title="Wander Ahead"
      ><img
        src="/assets/img/logo.svg"
        width="294"
        height="50"
        alt="Wander Ahead Logo"
    /></a>
  </div>
  <div class="col">
    <h3>Title 1</h3>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
  <div class="col">
    <h3>Title 2</h3>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
  <div class="col">
    <h3>Title 3</h3>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
  {% endcomment %}
  <div class="copyright">
    <p>&copy; {{ "now" | date: "%Y" }} Wander Ahead. All rights reserved.</p>
  </div>
</footer>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const links = document.getElementsByTagName("a");

    for (let link of links) {
      if (link.hostname && link.hostname !== window.location.hostname) {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener noreferrer");
      }
    }
  });
</script>
<!-- Cloudflare Web Analytics -->
<script
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "b8a7a772610b47d8ae782abd78fde74b"}'
></script>
<!-- End Cloudflare Web Analytics -->
