<script type="application/ld+json">
{
  "@context": "https://schema.org",
  {% if page.layout == 'post' %}
  "@type": "BlogPosting",
  {% else %}
  "@type": "WebPage",
  {% endif %}
  "headline": "{{ page.title | escape }}",
  "url": "{{ page.url | absolute_url }}",
  {% if page.date %}
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% endif %}
  {% if page.description %}
  "description": "{{ page.description | escape }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ site.author | escape }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title | escape }}",
    "url": "{{ site.url | absolute_url }}"
  },
  "name": "{{ site.title | escape }}"
}
</script>
