/*----------------------------------------*/
/* Variables
/*----------------------------------------*/

:root {
  --bg: #f5f1e9;
  --meta: #757575;
  --accent: #eb471e;
  --border: #e6d9c3;
  --black: #000;
  --font-size: 16px;
}

/*----------------------------------------*/
/* Defaults + fallback
/*----------------------------------------*/

@view-transition {
  navigation: auto;
}

body {
  background-color: var(--bg);
  font-family: Arial, sans-serif;
  padding: 0;
}

@media (min-width: 1280px) {
  main {
    max-width: 1200px;
    margin: 20px auto;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  main {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    max-width: 720px;
    margin: 20px auto;
    padding: 0 20px;
  }
}

/*----------------------------------------*/
/* Typography
/*----------------------------------------*/

span.cat {
  color: var(--accent);
  display: flex;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

/*----------------------------------------*/
/* Home Page - Featured Grid
/*----------------------------------------*/

.featured-grid {
  display: grid;
  gap: 20px;
  padding: 0 16px;
}

.featured-grid .article {
  border-bottom: 1px solid var(--border);
  padding-bottom: 20px;
}

.featured-grid .article.sidebar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.featured-grid .article:last-child {
  border-bottom: none;
}

.featured-grid .article .info a,
.featured-grid .article .info a h2 {
  color: var(--black);
  text-decoration: none;
  margin: 0;
}

.featured-grid .article.featured .image img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.featured-grid .article.featured .info a,
.featured-grid .article.featured .info a h2  {
  font-size: 24px;
  line-height: 30px;
}

.featured-grid .article.sidebar .image {
  margin-left: 20px;
}

.featured-grid .article.sidebar .info a,
.featured-grid .article.sidebar .info a h2  {
  font-size: 17px;
  line-height: 22px;
}

.featured-grid .article p {
  color: var(--meta);
}

.featured-grid .article.featured p {
  font-size: 15px;
  line-height: 24px;
}

.featured-grid .article.sidebar p {
  font-size: 13px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .featured-grid {
    display: grid;
    gap: 32px 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0;
  }

  .featured-grid .article {
    border-bottom: none;
  }

  .featured-grid .article.featured {
    display: flex;
    flex-direction: column;
    grid-area: span 3 / span 1;
    align-items: baseline;
  }

  .featured-grid .article.sidebar {
    display: flex;
    flex-direction: row;
    grid-column: 2 / span 1;
    max-height: 180px;
    align-items: center;
    padding-bottom: 0;
  }

  .featured-grid .article.sidebar .image {
    margin-right: 20px;
  }
}

/*----------------------------------------*/
/* Home Page - Tiles
/*----------------------------------------*/

.tile-heading {
  text-align: center;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article.tile {
  flex: 0 32%;
  margin-bottom: 2%; /* (100-32*3)/2 */
}

.tiles .article.tile a,
.tiles .article.tile a h2  {
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  text-decoration: none;
  margin: 0;
}
