@import url("./var.css");

/* ---------------------------------------- */

/* Defaults + fallback
/*---------------------------------------- */

body {
  background-color: var(--bg);
  font-family: "Noto Serif", serif;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
}

.fixed-width {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

/* ---------------------------------------- */

/* Typography
/*---------------------------------------- */

span.cat {
  margin-bottom: 8px;
}

span.cat,
span.cat a {
  color: var(--accent);
  display: flex;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: Lato, sans-serif;
}

a,
p {
  font-family: "Noto Serif", serif;
  font-weight: 300;
}

a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease;
}

p a {
  text-decoration: underline;
}

a:hover {
  color: var(--hover);
}

/* ---------------------------------------- */

/* Nav
/*---------------------------------------- */

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  margin: 20px auto;
}

.nav a {
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
}

.nav a:not(:first-child) {
  color: var(--accent);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

/* ---------------------------------------- */
/* Footer
/*---------------------------------------- */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0;
  flex-wrap: wrap;
}

.footer .logo {
  width: 50%;
}

.footer .col {
  width: calc(50% / 3);
  text-align: right;
}

.footer .col ul {
  padding-left: 0;
}

.footer .col ul li {
  list-style: none;
  margin-top: 10px;
}

.footer .copyright {
  width: 100%;
  text-align: left;
  padding: 20px 0;
  margin-top: 20px;
}

.footer .copyright p {
  margin: 0;
  font-size: 14px;
}

@media (width <= 768px) {
  .footer .logo,
  .footer .col {
    flex: 0 0 50%;
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer .col:nth-child(3) {
    text-align: left;
  }

  .footer .copyright {
    padding: 15px 0;
  }
}
