/*----------------------------------------*/
/* Variables
/*----------------------------------------*/

:root {
  --bg: #fff;
  --black: ##1c1c1c;
  --meta: #8c756a;
  --accent: #a2404b;
  --hover: #82333c;
  --font-size: 16px;
}
