/* ---------------------------------------- */

/* Variables
/*---------------------------------------- */

:root {
  --bg: #fff;
  --footer-bg: #f6f3ee;
  --black: #1c1c1c;
  --meta: #8c756a;
  --accent: #a2404b;
  --hover: #82333c;
  --border: #ccc;
  --border-hover: #f0f0f0;
  --font-size: 16px;
}
